.combat-room-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; 
    filter: brightness(0.1);
}

.combat-room-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    margin-right: 3rem;
}

.combat-room-side-panel {
    position: relative;
    bottom: 150px;
}

.combat-room-middle {
    position: relative;
    bottom: 150px;
}