.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .settings-button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .settings-button img {
    width: 100px;
    height: 100px;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-menu li:hover {
    background-color: #ddd;
  }