.scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 15px;
    border: 1px solid #444;
    width: 500px;
    max-width: 800px;
    margin: auto;
    color: #fff;
}

.scanner-container select {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.scanner-video-wrapper {
    position: relative;
    width: 100%;
    border: 2px solid #D98B09;
    border-radius: 10px;
    overflow: hidden;
    background: #000;
}

.scanner-video-wrapper section, 
.scanner-video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}