.enemy-name {
  font-size: 20px;
  font-weight: bold;
  color: #fc0e0e;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}

.enemy-hp-container {
  width: 60%;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.enemy-hp-section {
  width: 100%;
  height: 15px;
  background-color: #444;
  border-radius: 12px;
  border: 2px solid #222;
  overflow: hidden;
}

.enemy-hp-bar-fill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease-in-out, background-color 0.3s;
}

.enemy-image-container img {
  width: 250px;
  height: auto;
  display: flex;
  margin-left: 60%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.enemy-defeated {
  font-size: 28px;
  color: #f44336;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .enemy-image-container img {
        transform: scale(0.8);
        margin-left: auto;
        margin-right: 2rem;
        display: block;
    }
}
